/* default cards styles */
.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--card-min-width), 1fr));
  gap: var(--spacing-sm);
}

.cards > ul > li {
  border: var(--border-width) solid var(--color-border);
  background-color: var(--background-color);
}

.cards .cards-card-body {
  margin: var(--spacing-xs);
}

.cards .cards-card-image {
  line-height: var(--line-height-none);
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

