/* styles/themes/careers.css */

/* Careers theme for example
 * We use this to override default styles
 * To add more themes, add new files in this directory, e.g. `styles/themes/your-theme.css`
 */
body {
    /* colors */
    --background-color: white;
    --light-color: #f8f8f8;
    --dark-color: #505050;
    --text-color: #131313;
    --link-color: #3b63fb;
    --link-hover-color: #1d3ecf;

    /* fonts */
    --body-font-family: roboto, roboto-fallback, sans-serif;
    --heading-font-family: roboto-condensed, roboto-condensed-fallback, sans-serif;
}
