.cards-plan > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 24px;
}

.cards-plan > ul > li {
  border: none;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.cards-plan .cards-plan-card-body {
  padding: 32px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.cards-plan .cards-plan-card-body h3 {
  margin-top: 0;
  font-family: var(--body-font-family);
  font-weight: 500;
  color: var(--brand-dark);
}

.cards-plan .cards-plan-card-body p {
  flex: 1;
}

.cards-plan .cards-plan-card-body a:any-link {
  color: var(--brand-primary);
  font-weight: 700;
  text-decoration: underline;
}

.cards-plan .cards-plan-card-image {
  line-height: 0;
}

.cards-plan > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}
